<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card">
            <div class="card-header">
                <h1>Update Existing Product</h1>
            </div>
            <div class="card-body">
                <form action="{{ url_for('update_product', product_id=product.id) }}" method="POST">
                    <div class="mb-3">
                        <label>Category Type</label>
                        <select class="form-control" id="categoryselect" name="category">
                            <option>Select Category</option>
                            {% for category in categories %}
                            <option {% if product.category.Category_name == category.Category_name %} selected {% endif %}> {{ category.Category_name }} </option>
                            {% endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Product Name</label>
                        <input type="text" class="form-control" name="product_name" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ product.Product_name }}">
                    </div>
                    <div class="mb-3">
                        <label>Units</label>
                        <select class="form-control" name="unit" id="unitselect">
                            <option>Select Unit type</option>
                            {% for unit in units %}
                            <option {% if product.unit.name == unit.name %} selected {% endif %}>  {{ unit.name}}  </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Rate/Unit</label>
                        <input type="float" class="form-control" name="rate_per_unit" id="exampleInputPassword1" value="{{ product.rate_per_unit }}">
                    </div>
                    <div class="mb-3">
                        <label>Quantity</label>
                        <input type="float" class="form-control" name="quantity" id="exampleInputPassword1" value="{{ product.quantity }}">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>    
                    <form action="{{ url_for('delete_product', product_id=product.id) }}" method="POST" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are You Sure You Want To Permanently DELETE the Product and all its details?')">Delete</button>
                    </form>
                    </div>
                
            </div>
        </div>
    </div>
    
            
    









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
 
</body>
</html>